@import '/utilities/_variables';    




// NAVBAR STARTS


.innerNavbar {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


        span {
            font-size: 32px;
            font-weight: 700;

            @media screen and (max-width: 800px) {
                font-size: 20px;
            }
        }


        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 1rem;
            font-weight: 500;

                li {
                    margin-left: 1rem;
                    list-style: none;

                        a {
                            text-decoration: none;
                            color: $white;
                        }
                }
        }


        
}

.menuOverlay {
    position: fixed;
    background: rgba(126, 126, 126, 0.814);
    right: -110%;
    height: 100vh;
    width: 100vw;
    transition: all 350ms ease;
}

.menuOverlay.active {
    right: 0;
}


.mobileMenu {
    background: #1C1C1C;
    position: fixed;
    right: -500px;
    bottom: 0;
    width: 30%;
    height: 100%;
    z-index: 99;
    transition: all 500ms ease;




    @media screen and ( max-width: 800px) {
        width: 50%;
    }

    @media screen and (max-width: 600px) {
        width: 100%;
    }


    .menu {
        display: flex;
        flex-direction: column;
        gap: 2rem;

                .navIntro {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 1.5rem;
                gap: 2rem;
                font-size: 30px;

                    & span:nth-of-type(2) {
                        cursor: pointer;
                    }
                }


               
                    &  > span {
                        align-self: left;
                        margin-left: 3rem;


                                a {
                                    font-size: 20px;
                                    text-decoration: none;
                                    color: $white;
                                }
                    }

            
    }


    
  
}

.active {
    right: 0;
}
  




// NAVBAR ENDS